<div class="login-main row">
  <div class="login">
    <h2>Login</h2>

    <form class="form login-form">
      <div class="form-group">
       
        <input class="form-input" type="text" id="email-login" placeholder="Email"/>
      </div>
      <div class="form-group">
       
        <input class="form-input" type="password" id="password-login" placeholder="Password"/>
      </div>
      <div class="form-group">
        <button class="btn btn-dark" type="submit">Login</button>
      </div>
    </form>
  </div>
  <div class="signup">
    <h2>Sign Up</h2>

    <form class="form signup-form">
      <div class="form-group">
       
        <input class="form-input" type="text" id="name-signup" placeholder="Name"/>
      </div>
      <div class="form-group">
        
        <input class="form-input" type="text" id="email-signup" placeholder="Email" />
      </div>
      <div class="form-group">
        
        <input class="form-input" type="password" id="password-signup" placeholder="Password" />
      </div>
      <div class="form-group">
        <button class="btn btn-dark" type="submit">Sign Up</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>
