* {
  color: white;
  font-family: 'Roboto', sans-serif;
}

@keyframes slideAndFade {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Apply the keyframe to your element */
.fade-in {
  animation: slideAndFade 1.3s ease-out; /* Adjust the duration and timing function as needed */
}


body {
  background-color:#424242;
  height: 90vh;
}

input {
  color: black;
}

.intro-text {
  width: 60vw;
  height: 50vh;
  padding: 20vh 0vw 0vh 7vw;
}

#logout:hover {
  color: lightgrey;
  cursor: pointer;
}

#logout {
  color: rgb(167, 162, 131);
  cursor: pointer;
}

.intro-heading {
  font-weight: 300;
  text-wrap: balance;
  width: 40vw;
}

.intro-slogan {
  width: 40vw;
  font-size: smaller;
}

.intro-message {
  font-size: larger;
  padding: 2vh 0vh 0vh 0vh;
  width: 100%;
  text-wrap: balance;
}

.homepage-btn {
  background-color: #5d5c5c;
}

.homepage {
  background-image: url("../images/pexels-cottonbro-studio-3171837.jpg");
  background-size: cover;
  height: 90vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #1e1e1e;
  height: 10vh;
}

.navbar-brand {
  color: rgb(167, 162, 131);
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
}

.nav-item {
  margin: 0vw 1vw 0vw 1vw;
  color: rgba(167, 162, 131);
}

.nav-item:hover {
  color: lightgrey;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

#pac-input {
  width: 50vw;
}

/*------------login page------------*/

.login-main {
  background-color: #424242;
  display: flex;
  justify-content: center;
  padding: 0vh 0vh 10vh 0vh;
  height: 90vh;
   background-image: url(../images/pexels-rachel-claire-4577408.jpg); 
   background-size: cover;
   background-position: 30% 70%;
}

.login {
  padding: 3vh 6vh 3vh 3vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signup {
  padding: 3vh 3vh 3vh 6vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5vh 0vh 5vh 0vh;
}

/*------------footer------------*/
footer {
  height: 10vh;
  background-color: #1e1e1e;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*------------event------------*/
.event {
  height: 90vh;
}